<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waste Sorting Guide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajaz/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootsrapcdn.com/bootsrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->
  <link href="{{url_for('static', filename='Style.css')}}" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-text">Binz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-tarhet="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for("home")}}">Home</a>
        </li>
    </div>
  </div>
</nav>


<div class="row" style="margin-right: 0;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="question">
    Item is a tangler (wire, film plastics, things that could jam a machine)?
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="row" style="margin-right: 0;">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <a href="Trash.html" class="btn1">Yes</a>
  </div>
  <div class="col-md-4">
  </div>
  </div>

<div class="row" style="margin-right: 0;">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <a href="Q3Template.html" class="btn2">No, item is glass</a>
  </div>
  <div class="col-md-4">
    <a href="Q5Template.html" class="btn2">No, item is metal</a>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row" style="margin-right: 0;">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <a href="Q7Template.html" class="btn3">No, item is plastic</a>
  </div>
  <div class="col-md-4">
    <a href="Q9Template.html" class="btn3">No, item is paper/cardboard</a>
  </div>
  <div class="col-md-2">
  </div>
</div>



</body>
</html>
